In [2]:
import pandas as pd

print(pd.__version__)

1.2.4

In [ ]:
# Pandas 21

In [ ]:
df = pd.read_csv('./data/Iris.csv')
df

In [ ]:
# Mengenal groupby() dan fungsi agreagasi

In [ ]:
df.groupby('Species')['PetalLengthCm'].count().to_frame()

In [ ]:
df.groupby('Species')['PetalLengthCm'].mean().to_frame()

In [ ]:
df.groupby('Species')['PetalLengthCm'].median().to_frame()

In [4]:
# Agregasi dengan agg()

In [ ]:
df.groupby('Species')['PetalLengthCm'].agg(['count', 'mean', 'median'])

In [ ]:
df.groupby('Species')['PetalLengthCm'].describe

In [ ]:
#Pandas 22

In [ ]:
df_titanic = pd.read_csv('./data/titanicfull.csv')
df_titanic.head()

In [ ]:
df_iris = pd.read_csv('./data/Iris.csv')
df_iris.head()

In [5]:
# Memantau penggunaan memory suatu Data Frame

In [ ]:
df_titanic.info(memory_usage = 'deep')

In [ ]:
df_iris.info(memory_usage = 'deep')

In [ ]:
# Memantau penggunaan memory untuk setiap kolom dari suatu Data Frame

In [ ]:
df_titanic.inf(memory_usage(deep = True)

In [ ]:
df_iris.infomemory_usage(deep = True)

In [6]:
# Pandas 23

In [7]:
# Persiapan Data Frame

In [8]:
d = {'kolom_satu':[1, 2, 3, 4, 5],
     'kolom_dua': [10, 20, 30, 40, 50]}
df = pd.DataFrame(d)
df

   kolom_satu  kolom_dua
0           1         10
1           2         20
2           3         30
3           4         40
4           5         50

In [9]:
# Seleksi baris dengan query

In [10]:
df.query('kolom_satu > 2')

   kolom_satu  kolom_dua
2           3         30
3           4         40
4           5         50

In [11]:
df.query('kolom_dua > 30')

   kolom_satu  kolom_dua
3           4         40
4           5         50

In [12]:
# Pandas 24

In [ ]:
# Persiapan Series

In [17]:
s = pd.Series(range(1591683521, 1592201921, 3600))
s = pd.to_datetime(s, unit = 's')
s.head()

0   2020-06-09 06:18:41
1   2020-06-09 07:18:41
2   2020-06-09 08:18:41
3   2020-06-09 09:18:41
4   2020-06-09 10:18:41
dtype: datetime64[ns]

In [18]:
# Pengaturan zona waktu (time zone)

In [20]:
s = s.dt.tz_localize('UTC')
s.head()

0   2020-06-09 06:18:41+00:00
1   2020-06-09 07:18:41+00:00
2   2020-06-09 08:18:41+00:00
3   2020-06-09 09:18:41+00:00
4   2020-06-09 10:18:41+00:00
dtype: datetime64[ns, UTC]

In [22]:
s = s.dt.tz_convert('Asia/Jakarta')
s.head()

0   2020-06-09 13:18:41+07:00
1   2020-06-09 14:18:41+07:00
2   2020-06-09 15:18:41+07:00
3   2020-06-09 16:18:41+07:00
4   2020-06-09 17:18:41+07:00
dtype: datetime64[ns, Asia/Jakarta]

In [23]:
s = s.dt.tz_convert('Australia/Hobart')
s.head()

0   2020-06-09 16:18:41+10:00
1   2020-06-09 17:18:41+10:00
2   2020-06-09 18:18:41+10:00
3   2020-06-09 19:18:41+10:00
4   2020-06-09 20:18:41+10:00
dtype: datetime64[ns, Australia/Hobart]