In [3]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.4
1.20.1

In [4]:
# Pandas 37 | Seleksi baris dengan banyak kriteria pada Data Frame

In [ ]:
df = pd.read_csv('./data/titalcfull.csv')
df.head()

In [ ]:
df[(df['sex']=='female') & (df['age']>=60) & (df['embarked']=='S') & (df['survived']==1)]

In [ ]:
df[
    (df['sex']=='female')&
    (df['age']>=60) &
    (df['embarked']=='S') &
    (df['survived']==1)
]

In [ ]:
kr1 = df['sex']=='female'
kr2 = df['age']>=60
kr3 = df['embarked']=='S'
kr4 = df['survived']==1

df[kr1 & kr2 & kr3 & kr4]

In [5]:
# Pandas 38 | Parameter header dan skiprows pada read_csv

In [ ]:
df = pd.read_csv('./data/iris_error.csv')
df.head(8)

In [ ]:
df = pd.read_csv('./data/iris_error.csv', header=2, skiprows=[5,6])
df.head()

In [ ]:
# Pandas 39

In [6]:
n_rows = 6
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 5, size=(n_rows, n_cols)),
                 columns=cols)
df

   A  B  C  D  E
0  2  1  4  3  4
1  3  3  3  2  1
2  2  4  3  4  3
3  4  4  1  4  3
4  3  2  1  4  2
5  3  3  2  4  1

In [7]:
# Mengacak urutan baris pada DataFrame

In [8]:
df.sample(frac=1.0, random_state=1)

   A  B  C  D  E
2  2  4  3  4  3
1  3  3  3  2  1
4  3  2  1  4  2
0  2  1  4  3  4
3  4  4  1  4  3
5  3  3  2  4  1

In [9]:
df.sample(frac=1.0, random_state=1).reset_index(drop=True)

   A  B  C  D  E
0  2  4  3  4  3
1  3  3  3  2  1
2  3  2  1  4  2
3  2  1  4  3  4
4  4  4  1  4  3
5  3  3  2  4  1

In [10]:
# Pandas 40 | Akses sekelompok ada pada Data Frame yang sudah terkelompok

In [ ]:
df = pd.read_csv('./data/titalcfull.csv')
df.head()

In [ ]:
# Mengakses sekelompok data yang sudah terkelompok dengan get_group()

In [ ]:
grouped_df = df.groupby('sex')

In [ ]:
grouped_df.get_group('female').head(10)

In [ ]:
grouped_df = df.groupby('survived')

In [ ]:
grouped_df.get_group(1).head(10)